:root {
  /* ## Colors */

  /* ### Primary */
  --Blue-500: hsl(220, 98%, 61%);

  /* Check Background: linear-gradient to right */
  --Cyan: hsl(192, 100%, 67%);
  --Pink: hsl(280, 87%, 65%);

  /* ### Neutral */

  /* ### Light Theme */
  --Gray-50: hsl(0, 0%, 98%);
  --Purple-300: hsl(234, 39%, 85%);
  --Gray-300: hsl(233, 11%, 84%);
  --Gray-600: hsl(236, 9%, 61%);
  --Navy-850: hsl(235, 19%, 35%);

  /* ### Dark Theme */
  --Navy-950: hsl(235, 21%, 11%);
  --Navy-900: hsl(235, 24%, 19%);
  --Purple-300: hsl(234, 39%, 85%);
  /* (hover) */
  --Purple-100: hsl(236, 33%, 92%);

  --Purple-600: hsl(235, 16%, 43%);
  --Purple-700: hsl(233, 14%, 35%);
  --Purple-800: hsl(237, 14%, 26%);
  --Gray-600: hsl(236, 9%, 61%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-center {
  max-width: 40rem;
  margin: 0 auto;
}

body {
  position: relative;
  background-color: var(--Navy-950);
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Image background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18.75rem;
  background-image: url("../images/bg-desktop-dark.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* HEADER */
.header {
  padding-bottom: 2.5rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  color: var(--Gray-50);
  font-weight: 700;
  letter-spacing: 0.5rem;
  transform: translateY(4px);
}

.header__theme-switch-btn {
  background-color: transparent;
  border: none;
}

.header__btn-icon {
}

/* MAIN */
.app__wrapper {
}

.app__todo-form {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  border-radius: 4px;
  background-color: var(--Navy-900);
  box-shadow: 0 35px 30px rgba(0, 0, 0, 0.4);
}

.app__todo-form .todo__checkbox-custom {
  flex-shrink: 0;
}

.app__todo-input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: 1.125rem;
  color: var(--Purple-300);
}

.app__todo-input::placeholder {
  color: var(--Purple-600);
  font-size: 1.125rem;
}

.app__todo-stack-wrapper {
  background-color: var(--Navy-900);
  border-radius: 4px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.4);
}

.app__todo-list {
  list-style: none;
  color: var(--Purple-300);
  font-size: 1.125rem;
}

.app__todo {
  padding: 1.25rem;
  border-bottom: 1px solid var(--Purple-800);
}

.todo__checkbox-label {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}

.todo__checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.todo__checkbox-custom {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--Purple-800);
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__check-icon {
  display: none;
}

.todo__checkbox-input:checked + .todo__checkbox-custom {
  background: linear-gradient(to right, var(--Cyan), var(--Pink));
  border: none;
}

.todo__checkbox-input:checked + .todo__checkbox-custom .todo__check-icon {
  display: block;
}

.app__todo-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  color: var(--Purple-700);
  font-size: 1rem;
}

.app__filters {
  display: flex;
  gap: 1.25rem;
}

.app__filter-btn,
.app__clear-completed-btn {
  background-color: transparent;
  border: none;
  color: var(--Purple-700);
  font-size: 1rem;
  font-family: inherit;
}

.app__filter-btn {
  font-weight: 700;
}

.active-filter {
  color: var(--Blue-500);
}

/* FOOTER */
.footer__wrapper {
  text-align: center;
  padding-top: 2.5rem;
  color: var(--Purple-700);
}
